@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

/* Body rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    background: #121213;
    display: grid;
    place-items: center;
}

header {
    position: relative;
    width: 85%;
    height: 95%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

header .menu_Side , .song_Side {
    width: 25%;
    height: 90%;
    /* border: 1px solid #fff; */
    background: #373434;
    box-shadow: 5px 0px 2px #090f1f;
    color: #FFF;
}

header .song_Side {
    width: 75%;
    background-color: #1F1E1E;
}

header .master_Play {
    width: 100%;
    height: 10%;
    /* border: 1px solid #fff; */
    background: #373434;
    box-shadow: 0px 3px 8px #090f1f;
}

header .menu_Side h1 {
    font-size: 20px;
    margin: 15px 0px 0px 20px;
    font-weight: 500;
}

header .menu_Side .playlist {
    margin: 40px 0px 0px 20px;
}

header .menu_Side .playlist h4 {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #8090A6;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
}

header .menu_Side .playlist h4:hover {
    color: #Fff;
}

header .menu_Side .playlist h4 span {
    position: relative;
    margin-right: 35px;
}

header .menu_Side .playlist h4 span::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #8090A6;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}

header .menu_Side .playlist h4:hover span::before {
    border: 2px solid #FFF;
}

header .menu_Side .playlist h4 .bi {
    display: none;
}

header .menu_Side .playlist .active {
    color: #36e2ec;
}

header .menu_Side .playlist .active span {
    display: none;
}

header .menu_Side .playlist .active .bi {
    display: flex;
    margin-right: 20px;
}

header .menu_Side .menu_Song {
    width: 100%;
    height: 420px;
    /* border: 1px solid #FFF; */
    margin-top: 40px;
    overflow: auto;
}

header .menu_Side .menu_Song::-webkit-scrollbar {
   display: none;
}

header .menu_Side .menu_Song li {
   list-style-type: none;
   position: relative;
   padding: 5px 0 5px 20px;
   display: flex;
   align-items: center;
   margin-bottom: 10px;
   cursor: pointer;
   transition: .3s linear;
}

header .menu_Side .menu_Song li:hover {
    background: rgb(105, 105, 105, .1);
}

header .menu_Side .menu_Song li span {
    font-size: 12px;
    font-weight: 600;
    color: #8090A6;
}

 header .menu_Side .menu_Song li img {
    width: 32px;
    height: 32px;
    margin-left: 25px;
}

header .menu_Side .menu_Song li h5 {
    font-size: 11px;
    margin-left: 15px;
    width: 170px;
    /* border: 1px solid #FFF; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

header .menu_Side .menu_Song li h5 .subtitle {
    font-size: 9px;
    color: #8090A6;
}

header .menu_Side .menu_Song li .bi {
    position: absolute;
    right: 15px;
}

header .master_Play {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

header .master_Play .wave {
    width: 30px;
    height: 30px;
    /* border: 1px solid #fff; */
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

header .master_Play .wave .wave_1 {
    width: 3px;
    height: 10px;
    background: #36e2ec;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    animation: wave .5s unset;
}

header .master_Play .wave .wave_1:nth-child(2) {
    height: 13px;
    margin-right: 3.5px;
    animation-delay: .4s;
}

header .master_Play .wave .wave_1:nth-child(3) {
    height: 8px;
    animation-delay: .8s;
}

/* javascript classes */

header .master_Play .active1 .wave_1 {
   animation: wave .5s linear infinite;
}

header .master_Play .active1 .wave_1:nth-child(2) {
    animation-delay: .4s;
}

header .master_Play .active1 .wave_1:nth-child(3) {
    animation-delay: .8s;
}

@keyframes wave {
    0% {
        height: 10px;
    }
    50% {
        height: 15px;
    }
    100% {
        height: 10px;
    }
}
 
header .master_Play img {
    width: 35px;
    height: 35px;
}

header .master_Play h5 {
    width: 130px;
    /* border: 1px solid #fff; */
    margin-left: 15px;
    color: #fff;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
}

header .master_Play h5 .subtitle {
    font-size: 11px;
    color: #8090A6;
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

header .master_Play .icon {
    font-size: 20px;
    color: #fff;
    margin: 0px 20px 0 40px;
    outline: none;
    display: flex;
    align-items: center;
}

header .master_Play .icon .bi {
    cursor: pointer;
    outline: none;
}

header .master_Play .icon .shuffle {
    font-size: 17px;
    margin-right: 10px;
    width: 17.5px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

header .master_Play .icon #download_Music {
    font-size: 20px;
    margin-left: 10px;
}

header .master_Play .icon .bi:nth-child(3) {
    border: 1px solid rgb(105, 105, 105, .1);
    border-radius: 50%;
    padding: 1px 5px 0px 7px;
    margin: 0 5px;
}

header .master_Play span {
    color: #fff;
    width: 32px;
    /* border: 1px solid #fff; */
    font-size: 11px;
    font-weight: 400;
}

header .master_Play #currentStart {
    margin: 0px 0px 0px 20px;
}

header .master_Play .musicBar {
    position: relative;
    width: 43%;
    height: 2px;
    background: rgb(105, 105, 170, .1);
    margin: 0px 15px 0px 10px;
}

header .master_Play .musicBar .musicBar2 {
    position: absolute;
    background: #36e2ec;
    width: 50%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}

header .master_Play .musicBar .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1.5px;
    transition: 1s linear;
}

header .master_Play .musicBar .dot::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -7px;
    top: -6.5px;
    box-shadow: inset 0px 0px 3px #36e2ec;
}

header .master_Play .musicBar input {
    position: absolute;
    width: 100%;
    top: -7px;
    left: 0;
    cursor: pointer;
    z-index: 999999999999999999999999999999999999999999999;
    /* transition: 3s linear; */
    opacity: 0;
}

header .master_Play .volume {
    position: relative;
    width: 100px;
    height: 2px;
    background: rgb(105, 105, 170, 0.1);
    margin-left: 50px;
}

header .master_Play .volume .bi {
    position: absolute;
    color: #fff;
    font-size: 25px;
    top: -17px;
    left: -30px;
}

header .master_Play .volume input {
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0; 
    cursor: pointer;
    z-index: 99999999999999999999999999;
    opacity: 0;
}

header .master_Play .volume .volumeBar {
    position: absolute;
    background: #36e2ec;
    width: 50%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}

header .master_Play .volume .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1.5px;
    transition: 1s linear;
}

header .master_Play .volume .dot::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -7px;
    top: -6.5px;
    box-shadow: inset 0px 0px 3px #36e2ec;
}

header .song_Side {
    z-index: 2;
}

header .song_Side::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    background: url('');
    z-index: -1;
}

header .song_Side nav {
    width: 90%;
    height: 10%;
    /* border: 1px solid #Fff; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .song_Side nav ul {
    display: flex;
}

header .song_Side nav ul li {
    list-style: none;
    position: relative;
    font-size: 13px;
    color: #8090A6;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;
}

header .song_Side nav ul li:hover {
    color: #FFF;
}

header .song_Side nav ul li:nth-child(1) {
    color: #FFF;
}

header .song_Side nav ul li span {
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: #36e2ec;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
}

header .song_Side nav .search {
    position: relative;
    width: 30%;
    padding: 1px 10px;
    border-radius: 20px;
    /* border: 1px solid #fff; */
    color: gray;
}

header .song_Side nav .search {
    position: relative;
    width: 30%;
    padding: 1px 10px;
    border-radius: 20px;
    /* border: 1px solid #fff; */
    color: gray;
}

header .song_Side nav .search::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(184, 184, 184, .1);
    border-radius: 40px;
    backdrop-filter: blur(5px);
    z-index: -1;
}

header .song_Side nav .search .bi {
    font-size: 13px;
    padding: 3px 0px 0px 10px;
}

header .song_Side nav .search input {
    background: none;
    border: none;
    outline: none;
    padding: 0px 10px;
    color: #FFF;
    font-size: 12px;
}

header .song_Side nav .user {
    position: relative;
    width: 30px;
    height: 30px;
    /* border: 1px solid #fff; */
    border-radius: 50%;
    left: 5%;
}

header .song_Side nav img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 2px 2px 8px #121213;
}

header .song_Side .content {
    width: 90%;
    height: 30%;
    /* border: 1px solid #fff; */
    margin: auto;
    padding: top 20px;;
}

header .song_Side .content h1 {
    font-size: 25px;
    font-weight: 600;
}

header .song_Side .content p {
    font-size: 11px;
    font-weight: 400;
    color: #8090A6;
    margin: 5px;
}

header .song_Side .content .buttons {
    margin-top: 15px;
}

header .song_Side .content .buttons button {
    width: 130px;
    height: 30px;
    border: 2px solid #36e2ec;
    outline: none;
    border-radius: 20px;
    background: #5adae0;
    cursor: pointer;
    transition: .2s linear;
}

header .song_Side .content .buttons button:hover {
    background: none;
    color: #36e2ec;
}

header .song_Side .content .buttons button:nth-child(2) {
    background: none;
    color: #36e2ec;
}

header .song_Side .content .buttons button:nth-child(2):hover {
    background: #36e2ec;
    color: #FFF;
}

header .song_Side .popularSong {
    width: 90%;
    height: auto;
    margin: auto;
    mar
}